.create-salon-container {
    width: $feed-width;
    margin-left: $feed-margin-left;
    margin-top: 20px;
    border-radius: 10px;
    height: 60px;
    background-color: $elements-color;
    position: relative;
}