.posts-container {
    height: 100vh;
    width: $feed-width;

    position: relative;
    margin-left: $feed-margin-left;
    margin-top: 20px;
    border-radius: 10px;
}

.post-container {
    background-color: $elements-color;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}


.post-sharer-info {
    position: relative;

    h4 {
        position: absolute;
        color: rgb(219, 205, 205);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.85rem;
        top: -15px;
        left: 50px;
    }

    p {
        position: absolute;
        color: rgb(219, 205, 205);
        top: 12px;
        left: 50px;
        font-size: 0.7rem;
    }

    .three-dots {
        position: absolute;
        height: 45px;
        width: 45px;
        background-color: $elements-color;
        top: -7px;
        right: -2px;
    }

    img {
        border-radius: 50%;
        height: 40px;
    }
}

.post-text {
    h1 {
        margin-top: 5px;
        color: rgb(219, 205, 205);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.6rem;
        font-weight: 200;
        top: 0px;
        left: 30px;
    }
}

.post-image {
    img {
        max-width: 100%;
    }
}

.post-likes {
    display: flex;

    p {
        color: rgb(219, 205, 205);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9rem;
        font-weight: 200;
    }

    .post-likes-right {
        margin-left: 27%;
    }

    border-bottom: 1px rgb(68, 67, 67) solid;
}

.post-actions {
    .long {
        border-radius: 6px;
        border: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70%;
        width: 29%;
        background-color: $elements-color;
        margin-bottom: 2px;

        &:hover {
            background-color: $btn-color;
        }

        img {
            border-radius: 50px;
            max-width: 15%;

        }

        .svg-color {
            filter: invert(65%);
        }
    }

    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3px;
    border-bottom: 1px rgb(68, 67, 67) solid;
}

.comment-container {
    position: relative;
    display: flex;
    margin-top: 10px;

    img {
        margin-top: 4px;
        border-radius: 50%;
        height: 34px;
    }
}

.comment {
    height: auto;
    width: auto;
    background-color: $btn-color;
    border-radius: 18px;
    margin-left: 8px;

    h3 {
        padding: 0px;
        margin: 8px;
    }

    .comment-actions {
        display: flex;
        position: absolute;
        top: 48px;
        left: 50px;
    }
}

.post-make-comment {
    margin-top: 25px;
    display: flex;

    img {
        border-radius: 50%;
        height: 34px;
    }

    input {
        height: 34px;
        margin-left: 8px;
        background-color: $btn-color;
        width: 85%;
        border-radius: 50px;
        border: none;
        margin-left: 12px;
        padding-left: 12px;

        &:focus {
            outline: none;
        }


    }
}