// Colors
$nav-color : rgb(37, 37, 37);
$btn-color : rgb(70, 66, 66);
$btn-color-hover : rgb(122, 112, 112);
$border-color : rgb(141, 137, 137);
$bg-color :rgb(24, 23, 23);
$elements-color : rgb(37, 37, 37);
$whitish-text-color : rgb(221, 213, 213);

// Sizes
$feed-width : 92%;
$feed-margin-left: (100% - $feed-width)/2;